{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ShortView | Login</title>
    <link rel="stylesheet" href="{% static 'shortview/css/style.css' %}">
    <link rel="shortcut icon" type="image/png" href="{% static 'shortview/assets/icon_16.png' %}">
</head>
<body>
    <a href="{% url 'index' %}">Back to index page</a>
    <form action="{% url 'loginpage' %}" method="post">
        {% csrf_token %}
        {% if error %}<p><strong>Error: {{ error }}</strong></p>{% endif %}
        <fieldset>
            <legend><h1>Log in using your credentials</h1></legend>
            <label>Username/Email:</label>
            <input type="text" id="identifier" name="identifier" placeholder="username/email" {% if identifier %} value='{{identifier}}' {% endif %} required>
            <label>Password:</label>
            <input type="password" id="password" name="password" placeholder="password" required>
        </fieldset>
        <input type="submit" value="Log in">
    </form>
    <br>
</body>
</html>