{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ShortView | Preferences</title>
    <link rel="stylesheet" href="{% static 'shortview/css/style.css' %}">
    <link rel="shortcut icon" type="image/png" href="{% static 'shortview/assets/icon_16.png' %}">
</head>
<body>
    <a href="{% url 'index' %}">Go back to home page</a>
    {% if error %} <p><i>{{ error }}</i></p> {% endif %}
    {% if success %} <p><i>{{ success }}</i></p> {% endif %}
    <form action="{% url 'preferences' %}" method="post">
        {% csrf_token %}
        <fieldset>
            <legend><h3>Change preferences below, then apply</h3></legend>
            <label>Time before a link expires (days/hours/minutes/seconds):</label> <br>
            <input onChange="modify()" id="days" type="number" name="days" min="0" max="36500"
                value="{% if never_expire %}60{% else %}{{ days }}{% endif %}" {% if never_expire %} disabled {% endif %}>
            <input onChange="modify()" id="hours" type="number" name="hours" min="0" max="23"
                value="{{ hours }}" {% if never_expire %} disabled {% endif %}>
            <input onChange="modify()" id="minutes" type="number" name="minutes" min="0" max="59"
                value="{{ minutes }}" {% if never_expire %} disabled {% endif %}>
            <input onChange="modify()" id="seconds" type="number" name="seconds" min="0" max="59"
                value="{{ seconds }}" {% if never_expire %} disabled {% endif %}>
            <br>
            <label for="never_expire">Never expire:</label>
            <input onChange="modify(); change_never_expire()" id="never_expire" type="checkbox" name="never_expire" {% if never_expire %} checked {% endif %}>
            <br><br>
            <label for="hide_expired">Hide expired spy agents:</label>
            <input onChange="modify()" id="hide_expired" type="checkbox" name="hide_expired" {% if profile.hide_expired %} checked {% endif %}>
        </fieldset>
        <input class="apply" id="applypreferences" type="submit" value="Apply preferences" onclick="let_confirm()">
    </form>

    <script src="{% static 'shortview/js/change_never_expire.js' %}"></script>
    <script src="{% static 'shortview/js/warn_exit.js' %}"></script>
</body>
</html>