{% load static %}
{% load i18n %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ShortView | {{ link.description }}</title>
    <link rel="stylesheet" href="{% static 'shortview/css/style.css' %}">
    <link rel="shortcut icon" type="image/png" href="{% static 'shortview/assets/icon_16.png' %}">
</head>
<body>
    <a href="{% url 'index' %}">Back to home page</a>
    <h2>{{ link.description }}</h2>
    {% if link.active %}
    <p>The tracked link to send is the following (click to copy): <button onclick="copy_link()" class="urlbutton" id="copylink">{{ link.url }}</button>
        <small id="copyconfirm"></small></p>
    {% endif %}
    <p class="destinationlink">Original destination link: <a target="_blank" class="destinationlink" href="{{ link.destination }}">{{ link.destination }}</a></p>
    {% if link.active %}
    <form id="link_notify_form" action="{% url 'link_change_notify' link.id %}" method="post">
        {% csrf_token %}
        <label for="notify">Default email notification mode:</label>
        <select onChange="change_notify()" id="notify" name="notify">
            <option value="0" {% if link.notify_click == 0 %} selected {% endif %}>User preference</option>
            <option value="1" {% if link.notify_click == 1 %} selected {% endif %}>Never notify</option>
            <option value="2" {% if link.notify_click == 2 %} selected {% endif %}>Notify first click</option>
            <option value="3" {% if link.notify_click == 3 %} selected {% endif %}>Notify each click</option>
        </select>
    </form> <br>
    {% else %}
    <p class="expiredtext"><i><u>This link is expired</u></i></p>
    {% endif %}
    <button class="urlbutton deletebutton" onclick="delete_link()">Delete this link</button>
    <br> <br>
    {% if trackers|length == 0 %}
    <p>The link hasn't been clicked yet, no tracker available.</p>
    {% else %}
    <table class="trackers">
        <tr>
            <th>Number</th>
            <th>Date and time</th>
            <th>Opener's IP</th>
            <th>Full request headers</th>
        </tr>
        {% for tracker in trackers %}
        <tr>
            <td>{{ forloop.counter }}</td>
            <td>{{ tracker.date }}</td>
            <td><a target="_blank" href="https://whatismyipaddress.com/ip/{{ tracker.ip }}">{{ tracker.ip }}</a></td>
            <td><a target="_blank" href="{% url 'view_tracker' link.id tracker.id %}" class="headerlink">See headers content</a></td>
        </tr>
        {% endfor %}
    </table>
    {% endif %}

    <form id="delete_form" action="{% url 'delete_link' link.id %}" method="post">
        {% csrf_token %}
        <input type="hidden" name="confirm_delete" value="true">
    </form>

    <script src="{% static 'shortview/js/view_link.js' %}"></script>
</body>
</html>