{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>PixelSpy | Passwords security</title>
    <link rel="stylesheet" href="{% static 'pixelspy/style.css' %}">
    <link rel="shortcut icon" type="image/png" href="{% static 'pixelspy/assets/icon_16.png' %}">
</head>
<body>
    <a href="{% url 'index' %}">Back to home page</a> <br>
    <a href="{% url 'loginpage' %}">Back to login page</a>
    <h1>How do we store your passwords?</h1>
    <p>
        To secure passwords, this platform uses a robust hashing function known as <a target="_blank" href="https://en.wikipedia.org/wiki/Argon2">Argon2</a>, which is the winner of the <a target="_blank" href="https://www.password-hashing.net/">2015 Password Hashing Competition</a> and is still recognized as one of the strongest security standards today.
        <br>No one, including the platform admins, can see or obtain your password, even with full access to the user database or in the case of a database leak. That's also why we can't give your password back if you forget it.
        <br>Here is an explanation of how we secure them:
        <br>When creating your account, the system will create for your user a piece of randomly generated text, called the "salt", which will be added at the end of your password. Then, we take the password followed by the salt, which is the "salted password", and apply a hashing algorithm on it, which is build with cryptography in mind. Hashing is a one way process, which will take the give data as an input, and will generate its "hash", which can't be turned back into the original password, but putting it the same salted password as an input will output the exact same hash, and that's how we know if the password is correct when you try to log in.
        <br>Inside the database, we only store your identification informations, which are the username, email, and eventually other identification informations provided by you, and we then store for each user the hash from the salted password, along with the salt. This way, your original password will never be directly visible nor obtainable from the database.
        <br>This method secures your password against most attacks, including:
        <ul>
            <li>Database leaks: your password isn't directly obtainable from the database, even with full access to it.</li>
            <li>Rainbow table attacks: this attack consists of trying to see if the hash of the most common passwords matches with one of the registered users. But since each user has a unique salt added at the end of the password before hashing, a generic rainbow table attack would be completely inefficient.</li>
            <li>Matching users with same password: again, since each user has a unique salt, two users with the same exact password will have different hashes associated with their account in the database, therefore preventing attackers from directly knowing it two or more users share the same password.</li>
            <li>Brute force attacks: the hashing algorithm used to transform the passwords has a high work factor, meaning that it takes time to hash a password and check if the output hash is the same as the one from the database. When a user tries to log in with a password, this delay is almost unnoticeable, but in the case of a brute force attack where the attacker is testing a lot of different possible passwords, the attack will be rendered almost inefficient as it takes way too long to try a lot of different passwords.</li>
            <li>Hashing collision attacks: when two different passwords are passed to a hashing algorithm and give the same output hash, this is called a hashing collision. However, the hashing algorithm we use has a very high collision resistance, meaning that it's impossible with today's means to develop a method aiming to find a hashing collision, so it's impossible in practice for someone to log into your account using a different password from the one you set.</li>
        </ul>
        Moreover, all of these procedures aiming to securely store and check your passwords are handled by the Django's backend, which is a well known, trustable and secure framework used by huge companies around the world. For more informations on how Django's backend manages the passwords with the above methods, you can go on <a target="_blank" href="https://docs.djangoproject.com/en/5.2/topics/auth/passwords/">this page</a>.
    </p>
</body>
</html>