{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>PixelSpy | Home</title>
    <link rel="stylesheet" href="{% static 'pixelspy/style.css' %}">
    <link rel="shortcut icon" type="image/png" href="{% static 'pixelspy/assets/icon_16.png' %}">
</head>
<body>
    {% if user.is_staff %}
    <a class="biglink" target="_blank" href="{% url 'admin:index' %}"><i>Admin access</i></a> <br>
    {% endif %}
    <a class="biglink" href="{% url 'preferences' %}">User preferences</a> <br>
    <a href="{% url 'logoutpage' %}">Log out</a>
    <h1>{{ user.username }}'s home page</h1>
    <a class="biglink" href="{% url 'new_pixel' %}">Create new spy agent</a>
    <h2>Spy agents:</h2>
    <ul class="pixels">
    {% for pixel in pixels %}
        {% if not profile.hide_expired or pixel.active %}
        <a href="{% url 'view_pixel' pixel.id %}">
            <li class="{% if pixel.active %}active{% else %}inactive{% endif %} {% if pixel.tracker_set.all|length > 0 %}read{% else %}unread{% endif %}"> {{ pixel }} </li>
        </a>
        {% endif %}
    {% empty %}
    <p>You haven't created any pixel yet.</p>
    {% endfor %}
    </ul>
</body>
</html>