{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>PixelSpy | Home</title>
    <link rel="stylesheet" href="{% static 'pixelspy/style.css' %}">
    <link rel="shortcut icon" type="image/png" href="{% static 'pixelspy/assets/icon_16.png' %}">
</head>
<body>
    {% if user.is_staff %}
    <a target="_blank" href="{% url 'admin:index' %}">admin access</a>
    {% endif %}
    <h1>{{ user.username }}'s home page</h1>
    <a href="{% url 'logoutpage' %}">Log out</a>
    <h2>Spy agents:</h2>
    <ul class="pixels">
    {% for pixel in pixels %}
        <a href="{% url 'view_pixel' pixel.id %}">
            <li class="{% if pixel.active %}active{% else %}inactive{% endif %} {% if pixel.tracker_set.all|length > 0 %}read{% else %}unread{% endif %}"> {{ pixel }} </li>
        </a>
    {% empty %}
    <p>You don't have created any pixel yet.</p>
    {% endfor %}
    </ul>
</body>
</html>