<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>PixelSpy | Login</title>
</head>
<body>
    <form action="{% url 'loginpage' %}" method="post">
        {% csrf_token %}
        {% if error %}<p><strong>{{ error }}</strong></p>{% endif %}
        <fieldset>
            <legend><h1>Log in using your credentials</h1></legend>
            <label>Username/Email:</label>
            <input type="text" id="identifier" name="identifier" {% if identifier %} value='{{identifier}}' {% endif %} required>
            <label>Password:</label>
            <input type="password" id="password" name="password" required>
        </fieldset>
        <input type="submit" value="Log in">
    </form>
</body>
</html>