{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>PixelSpy | Create Agent</title>
    <link rel="stylesheet" href="{% static 'pixelspy/style.css' %}">
    <link rel="shortcut icon" type="image/png" href="{% static 'pixelspy/assets/icon_16.png' %}">
</head>
<body>
    <a href="{% url 'index' %}">Back to home page</a>
    {% if error %} <p><i>{{ error }}</i></p> {% endif %}
    <form action="{% url 'new_pixel' %}" method="post">
        {% csrf_token %}
        <fieldset>
            <legend><h3>Create a new spy agent</h3></legend>
            <label for="description">Description:</label>
            <input onChange="modify()" id="description" type="text" name="description"
                minlength="3" placeholder="spy agent description" {% if description %} value="{{ description }}" {% endif %} required>
            <br><br>
            <label>Time before the spy agent expires (days/hours/minutes/seconds):</label> <br>
            <input onChange="modify()" id="days" type="number" name="days" min="0" max="36500"
                value="{% if never_expire %}14{% else %}{{ days }}{% endif %}" {% if never_expire %} disabled {% endif %}>
            <input onChange="modify()" id="hours" type="number" name="hours" min="0" max="23"
                value="{{ hours }}" {% if never_expire %} disabled {% endif %}>
            <input onChange="modify()" id="minutes" type="number" name="minutes" min="0" max="59"
                value="{{ minutes }}" {% if never_expire %} disabled {% endif %}>
            <input onChange="modify()" id="seconds" type="number" name="seconds" min="0" max="59"
                value="{{ seconds }}" {% if never_expire %} disabled {% endif %}>
            <br>
            <label for="never_expire">Never expire:</label>
            <input onChange="modify(); change_never_expire()" id="never_expire" type="checkbox" name="never_expire" {% if never_expire %} checked {% endif %}>
        </fieldset>
        <input class="apply" id="createpixel" type="submit" value="Create the spy agent" onclick="let_confirm()">
    </form>

    <script>
        var days_input = document.getElementById("days");
        var hours_input = document.getElementById("hours");
        var minutes_input = document.getElementById("minutes");
        var seconds_input = document.getElementById("seconds");
        var never_expire_input = document.getElementById("never_expire");
        
        function change_never_expire() {
            if (never_expire_input.checked) {
                days_input.setAttribute("disabled", "disabled");
                hours_input.setAttribute("disabled", "disabled");
                minutes_input.setAttribute("disabled", "disabled");
                seconds_input.setAttribute("disabled", "disabled");
            }
            else {
                days_input.removeAttribute("disabled");
                hours_input.removeAttribute("disabled");
                minutes_input.removeAttribute("disabled");
                seconds_input.removeAttribute("disabled");
            }
        }

        function modify() {
            modified = true;
        }

        function let_confirm() {
            modified = false;
        }
        
        // warn the user before leaving the page if he started filling some data
        window.addEventListener("beforeunload", function(e) {
            if (modified) {
                e.preventDefault();
                e.returnValue = "";
            }
        });
    </script>
</body>
</html>