{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>PixelSpy | Register</title>
    <link rel="stylesheet" href="{% static 'pixelspy/css/style.css' %}">
    <link rel="shortcut icon" type="image/png" href="{% static 'pixelspy/assets/icon_16.png' %}">
</head>
<body>
    <a href="{% url 'index' %}">Back to index page</a>
    <form action="{% url 'register' %}" method="post">
        {% csrf_token %}
        {% if error %}<p><strong>Error: {{ error }}</strong></p>{% endif %}
        <fieldset>
            <legend><h1>Register your new account</h1></legend>
            <label for="username">Username:</label>
            <input onChange="modify()" type="text" id="username" name="username" pattern="^[A-Za-z0-9_.+\-]{3,50}$" {% if username %} value='{{username}}' {% endif %}
                title="Between 3 and 50 characters, can only contain letters, numbers, and these symbols:  _ + . -" placeholder="Username" required>

            <label for="email">Email:</label>
            <input onChange="modify()" type="email" id="email" name="email" pattern="^[A-Za-z0-9._%+\-]+@[A-Za-z0-9.\-]+\.[A-Za-z]{2,}$" {% if email %} value='{{email}}' {% endif %}
                title="Enter your email address here" placeholder="Email address" required> <br>
            
            <label for="password">Password:</label>
            <input onChange="modify()" type="password" id="password" name="password" pattern="^(?!\d+$).{8,}$" oninput="check_match()"
                title="Enter a secure password here: at least 8 characters, not only numbers, don't use common passwords" placeholder="password" required>

            <label for="password_confirm">Confirm password:</label>
            <input onChange="modify()" type="password" id="password_confirm" name="password_confirm" oninput="check_match()"
                title="Retype the same password again here" placeholder="password again" required>
        </fieldset>
        <input onclick="let_confirm()" type="submit" value="register">
    </form>
    <br>
    <a href="{% url 'password_info' %}">How do we securely store your passwords?</a>

    <script src="{% static 'pixelspy/js/register.js' %}"></script>
    <script src="{% static 'pixelspy/js/warn_exit.js' %}"></script>
</body>
</html>