{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>PixelSpy | {{ pixel.description }}</title>
    <link rel="stylesheet" href="{% static 'pixelspy/style.css' %}">
    <link rel="shortcut icon" type="image/png" href="{% static 'pixelspy/assets/icon_16.png' %}">
</head>
<body>
    <a href="{% url 'index' %}">Back to home page</a>
    <h2>{{ pixel.description }}</h2>
    {% if pixel.active %}
    <p>The pixel can be added in a mail with the following link (click to copy):</p>
    <button onclick="copy_link()" class="urlbutton" id="copylink">TODO: display actual url</button>
    <small> <p id="copyconfirm"></p> </small>
    {% else %}
    <p class="expiredtext"><i><u>This pixel is expired</u></i></p>
    {% endif %}
    <br>
    {% if trackers|length == 0 %}
    <p>The email containing the pixel hasn't been opened yet, no tracker available.</p>
    {% else %}
    <table class="trackers">
        <tr>
            <th>Date of opening</th>
            <th>Opener's IP</th>
            <th>See full request header</th>
        </tr>
        {% for tracker in trackers %}
        <tr>
            <td>{{ tracker.date }}</td>
            <td>{{ tracker.ip }}</td>
            <td> <a target="_blank" href="{% url 'view_tracker' pixel.id tracker.id %}" class="headerlink">See header content</a> </td>
        </tr>
        {% endfor %}
    </table>
    {% endif %}

    <script>
        var copy_button = document.getElementById("copylink")
        var copy_confirm = document.getElementById("copyconfirm");
        function copy_link() {
            navigator.clipboard.writeText(copy_button.innerText);
            copy_confirm.innerHTML = "Link copied!";
            setTimeout(() => { copy_confirm.innerHTML = ""; }, 2000);
        }
    </script>
</body>
</html>