ul.links a {
  text-decoration: none;
}

ul.links li {
  font-size: 1.2rem;
}

ul.links li.opened {
  color: green;
}

ul.links li.pending {
  color: orange;
}

ul.links li.inactive {
  text-decoration: line-through;
}

input[type="submit"] {
  cursor: grab;
}

button {
  cursor: grab;
}

button.urlbutton {
  text-decoration: underline;
  background: transparent;
  border: none;
  font-size: 1rem;
  color: darkslategrey;
}

table.trackers {
  width: 100%;
  border-collapse: collapse;
  text-align: center;
}

table.trackers th, table.trackers tr, table.trackers td {
  border: 1px solid grey;
}

a.headerlink {
  color: darkslategrey;
}

p#copyconfirm {
  color: darkslategrey;
}

p.expiredtext {
  font-size: 1.15rem;
}

a.biglink {
  font-size: 1.2rem;
}

input.apply {
  font-size: 1.2rem;
}