ul.pixels a {
  text-decoration: none;
}

ul.pixels li {
  font-size: 1.2rem;
}

ul.pixels li.read {
  color: green;
}

ul.pixels li.unread {
  color: orange;
}

ul.pixels li.inactive {
  text-decoration: line-through;
}

button.urlbutton {
  text-decoration: underline;
  background: transparent;
  border: none;
  cursor: grab;
  font-size: 1rem;
  color: darkslategrey;
}

table.trackers {
  width: 100%;
  border-collapse: collapse;
  text-align: center;
}

table.trackers th, table.trackers tr, table.trackers td {
  border: 1px solid grey;
}

a.headerlink {
  color: darkslategrey;
}

p#copyconfirm {
  color: darkslategrey;
}

p.expiredtext {
  font-size: 1.15rem;
}

a.adminaccess {
  font-size: 1.2rem;
}

a.preferenceslink {
  font-size: 1.2rem;
}

input#applypreferences {
  font-size: 1.2rem;
}